@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border;
    }
    html {
        @apply scroll-smooth;
    }
    body {
        @apply overflow-x-hidden;
    }
    input {
        @apply w-full border border-white border-b-black px-3 mb-4 text-sm py-3 placeholder:text-black hover:border focus:border focus:border-black hover:border-black focus:outline-none;
    }
    body::-webkit-scrollbar {
        @apply z-[2] w-[6px];
    }
    body::-webkit-scrollbar-thumb {
        @apply rounded-3xl bg-stone-200;
    }
    /* body::-webkit-scrollbar-track {
        @apply bg-white;
    } */
}

@layer components {
    /* #home {
        @apply bg-[url('/img/1.jpg')] bg-center bg-no-repeat bg-cover;
    } */
    .nav__item {
        @apply text-2xl lg:text-base hover:text-Green duration-200 transition-colors cursor-pointer;
    }
    .nav__icon {
        @apply text-xl lg:text-base hover:text-Green duration-200 transition-colors cursor-pointer;
    }
    .menu-item {
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
    }

    .menu-item::before {
        content: '';
        flex-grow: 1;
        border-bottom: 1px dotted #000;
        margin: 0 8px;
    }
}
